<!DOCTYPE html>
<head>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row" ng-app="login">
<form class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-3">
<input type="email" ng-model="email"></input>
<input type="password" ng-model="password"></input>
</form>
</div>
</body>