<!DOCTYPE html>
<html>
	<head>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	      <style>
	      	body
	      	{
	      		overflow: hidden;
	      		position: relative;
	      	}
	      	.chat{
	      		position: absolute;
	      		top:50%;
	      		left:50%;
	      		transform:translate(-50%,-50%);
	      		border:2px solid black;
	      		padding:10px;
	      		text-align: center;
	      	}
	      	input{
	      		margin:10px;
	      	}
	      </style>
	</head>
	<body>
		<div class="row login" ng-app="login" style="position: relative;">
			<form class="chat col-xs-8 col-sm-6">
				<h1>Chat Now</h1>
				<input type="email" ng-model="email" placeholder="Email"></input><br>
				<input type="password" ng-model="password" placeholder="Password"></input><br>
				<button type="button">Submit</button>
			</form>
		</div>
	</body>
	<script>
		$(document).ready(function(){
			$(".login").css({
				height:$(window).height()+'px',
				width:$(window).width()+'px'
			});
		})
	</script>
</html>